# Ignore data and output folders
data/
output/

# Keep curated VCF outputs under version control
!output/vcf/
!output/vcf/**/*.vcf

# (Optional) but keep a .gitkeep or README if you want the folder itself tracked
!data/.gitkeep
!output/.gitkeep
