# Ignore contents of data/ but keep directory placeholders
data/*
!data/.gitkeep
!data/**/.gitkeep

# Ignore contents of output/ (except curated VCFs and placeholders)
output/*
!output/.gitkeep
!output/**/.gitkeep
!output/annotated_vcf/
!output/annotated_vcf/*.tsv
