# Keep this file in the repo so you don't touch the global conda snpEff.config
# data.dir = ./snpeff_data
sacCer3_custom.genome : sacCer3_custom
database.repository = https://snpeff.odsp.astrazeneca.com/databases

# data.dir = snpeff_data/
HsCEG1-GTase.genome : HsCEG1-GTase
# data.dir = /home/sunniva/git-code/evoVariants/snpeff_data
# data.dir = snpeff_data
PfRpn11.genome : PfRpn11
data.dir = /home/sunniva/git-code/evoVariants/snpeff_data
PvNMT.genome : PvNMT
